// Specific CSS for your home-page
.banner{
    background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url('https://images.pexels.com/photos/697243/pexels-photo-697243.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    color: white;
    text-align: center;
}

.section {
    width: 100%;
    height: 600px;
    color: black;
    text-align: center;
    text-align: center;
    // padding:50px 80px;
    position: relative;
}

.container {
    height: 100%;
}

#section-two {
    background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url('https://images.pexels.com/photos/697243/pexels-photo-697243.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}

// h2 {
//     position: absolute;
//     left: 45%;
//     top: 12%;
//     transform: translate(50%,-50%);
// }