.content-show{
    // text-align: center;
    // display: flex;
    // align-items: center;
    // width: 100%;
    min-height: 300px;
    margin-bottom: 50px;
}

#show-page-content{
    margin-bottom: 50px;
}