<section class="banner-confirm d-flex justify-content-center">
      <h1></h1>
  </section>

<div class="container">
    <h1 class="d-flex justify-content-center confirm-text">Your Application Have Been Sent!</h1>
    <p class="d-flex justify-content-center confirm-text">You will receive a confirmation soon!</p>
    <div class="button-row d-flex justify-content-center confirm-text">
        <%= link_to 'Dashboard', dashboard_path, class: "button-chip-main" %>
    </div>
</div>
