<h1>Thank you for your request!</h1>
<%= link_to 'Dashboard', root_path, class: "btn btn-primary" %>
<!-- root_path is a placeholder for now. Will change it to the dashboard root when implemented -->
