<section class="banner-confirm d-flex justify-content-center">
    <!-- <div class="container py-5"> -->
      <h1></h1>
    <!-- </div> -->
  </section>

<div class="container">
    <h1 class="d-flex justify-content-center confirm-text">Participation Request Sent!</h1>
    <p class="d-flex justify-content-center confirm-text">You will receive participation confirmation soon!</p>
    <div class="button-row d-flex justify-content-center">
        <%= link_to 'Dashboard', dashboard_path, class: "btn btn-primary" %>
    </div>
</div>