
#map {
  height: 100vh;
  position: sticky;
  top: 0;
  width: 50%;
  a {
    text-decoration: none;
    font-weight: bold;
  }
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
}
