.navbar-lewagon {
  justify-content: space-between;
  background-color: white;
  margin-bottom: 0px;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 40px;
  }
}


.dropdown-item {
  color: rgba(0, 0, 0, 0.5);

  &:active {
    color: $color-transparent-black;
    text-decoration: none;
    background-color: white;
  }

  &:hover {
    color: $color-transparent-black;
    background-color: white;
  }
}

