.event-link {
  color: $chip-purple;
  text-decoration: none;
  font-weight: bold;
  &:hover {
    color: $chip-purple-light;
    text-decoration: none;
  }
}

.user-link {
  color: $chip-grey-text;
  text-decoration: none;
  font-weight: bold;
  &:hover {
    color: $chip-purple-light;
    text-decoration: none;
  }
}

.no-bullet-points {
  list-style-type: none;
  padding-left: 0;
}
