<div class="container">
<h1>Write a review:</h1>
<%= simple_form_for [@user, @review] do |f| %>
  <%= f.input :rating, as: :select, label: "Rate the host", collection: [1,2,3,4,5] %>
  <%= f.input :content %>
  <%= f.submit 'Send', class: "button-chip-main"%>
<% end %>
</div>
