.first-half{
    border: 1px solid #e4e4e4;
    border-radius: 1px;
    min-height: 450px;
    padding: 10px;
}

.second-half{
}

.user-details{
    margin-bottom: 50px;
}

img.profile-img{
    margin-top: 15px;
    margin-bottom: 15px;
    background-position: center;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    // position: absolute;
    // clip: rect(0px,60px,200px,0px);
}

.hr-style{
    width: 65%;
    margin: auto;
}

#modal-photo {
  max-width: 50%;
  background-position: center;
}
